<table
  class="table table-striped"
  style="margin-top:20px;width: 849px;
  height: 428px;"
>
  <thead>
    <tr class="first-row">
      <th scope="col">TIPO DE SERVICIO</th>
      <th scope="col">PRECIO PROMEDIO</th>
      <th scope="col">MENOR PRECIO</th>
    </tr>
  </thead>
  <tbody>
    <tr class="second-row">
      <td>Funeral Básico</td>
      <td>$600.000</td>
      <td>$430.000</td>
    </tr>
    <tr class="first-row">
      <td>Cremación</td>
      <td>$1.000.000</td>
      <td>$800.000</td>
    </tr>
    <tr class="second-row">
      <td>Funeral Tradicional</td>
      <td>$900.000</td>
      <td>$600.000</td>
    </tr>
    <tr class="first-row">
      <td>Funeral Premium</td>
      <td>$1.000.000</td>
      <td>$1.200.000</td>
    </tr>
  </tbody>
</table>
