.first-row {
  font-family: Yinmar;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  background: #5e85d0;
  color: #ffffff;
  width: 208px;
  height: 50px;
}
.second-row {
  font-family: Yinmar;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: white;
  width: 208px;
  height: 50px;
}
